<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Regression Suite">

<listeners>
<!-- <listener class-name="com.test.automation.uiAutomation.customListner.Listener"></listener>  -->
<listener class-name="com.test.automation.uiAutomation.customListner.RetryListener"></listener> 
</listeners>

<test name="HomePageTest">
<classes>
<class name="com.test.automation.uiAutomation.homepage.TC002_VerifyRegistration"></class>
<class name="com.test.automation.uiAutomation.homepage.TC003_VerifyLoginWithDifferentRecords"></class>
<class name="com.test.automation.uiAutomation.addToCart.TC001_VerifyAaddToCart"></class>
<class name="com.test.automation.uiAutomation.addToCart.TC002_VerifyFacebookLink"></class>
</classes>
</test>

<test name="AddToCartTest">
<classes>
<class name="com.test.automation.uiAutomation.addToCart.TC001_VerifyAaddToCart"></class>
<class name="com.test.automation.uiAutomation.addToCart.TC002_VerifyFacebookLink"></class>
</classes>
</test>

</suite>